body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background: #8b0000;
    color: white;
    padding: 15px ;
    display: flex;
}


nav ul  {
    padding-left: 1000px;
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.pic {
    background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover;
    color: white;
    text-align: center;
    padding: 120px;
}

.pic button {
    background: orangered;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

section {
    padding: 40px;
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.item {
    background: #ffe4c4;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}


form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: #8b0000;
    color: white;
    padding: 10px;
    border: none;
}

footer {
    background: #8b0000;
    color: white;
    text-align: center;
    padding: 10px;
}
